
<div class="container">
  <div class="row">
    <div class="col text-center h-100 w-100 p-4">
      <h1 class="about font-weight-bold">About</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center h-100 w-100">
      <h4>
        ながのCAKEは全国発送可能なケーキ屋さんです。</br>
        お子様からお年寄りの方までお召し上がりいただけるよう、</br>
        様々なバリエーションをご用意しております。</br>
        また全国へ発送可能ですので「いつ」でも「どこ」でも注文いただけます。</br>
        ぜひご注文ください。
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center h-100 w-100 p-4">
      <%= image_tag "pexels-na-urchin-2377173.jpg", size: "800x400" %>
    </div>
  </div>
</div>
